/*font-family: 'Fruktur', cursive;
font-family: 'Playfair Display', serif;*/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  font-family: "Fruktur", cursive;
  font-weight: lighter;
}
