/*font-family: 'Fruktur', cursive;
font-family: 'Playfair Display', serif;*/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 44px;
}
.hero p {
  font-family: "Fruktur", cursive;
  font-weight: lighter;
  font-size: 20px;
}
:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}
.hero h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 2;
}
.btn-branding {
  background-color: var(--branding-color);
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  color: #f9f7fe;
  font-family: "Fruktur", cursive;
  line-height: 27px;
}
.row {
  display: flex;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}
.d-none {
  display: none;
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
}

