/*font-family: 'Fruktur', cursive;
font-family: 'Playfair Display', serif;*/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  font-family: "Fruktur", cursive;
  font-weight: lighter;
}
:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}
